<h1>All Lists:</h1>

  <table class="table">
    <thead>
      <tr>
        <th>List Name</th>
        <th colspan="1"></th>
      </tr>
    </thead>

  <tbody>
      <% @lists.each do |list| %>
        <tr>
          <td><%= list.name %></td>
          <td><%= link_to list do%>
          <i class="fas fa-search"></i>
          <% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
    <%= link_to new_list_path do%>
    <i class="fas fa-plus-circle"></i>
    <% end %></td>

<%= cl_image_tag("yde7rlwvuijlbckxxc6t", width: 400, height: 300) %>
<%= image_tag "https://images.unsplash.com/photo-1600208537475-6cdbf234ca5d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=870&q=80", class:"popcorn" %>
