
<h1>List Details</h1>
<p>
  <strong>List name:</strong>
  <%= @list.name %>
</p>

<hr>

<p>
<strong>Add a bookmark:</strong>
  <%= render 'bookmarks/new' %>
</p>

<% @list.bookmarks.each do |bookmark| %>
  <div class="card-product">
    <%= image_tag bookmark.movie.poster_url %>
      <div class="card-product-infos">
        <h2><%= bookmark.movie.title %></h2>
        <p>Comment: <%= bookmark.comment %></p>
        <p><%= bookmark.movie.overview %></p>
        <p>Rating: <%= bookmark.movie.rating %></p>
      </div>
  </div>
<% end %>

<hr>

<%= link_to lists_path do%>
<i class="fas fa-arrow-circle-left"></i>
<% end %>
